# Operations Perfomed:
> 1. Reading in the Lower secondary school data
> 2. Rescaling the data to prevent data redundancy and to get optimal model performance
> 3. Hypertuning of models' performance for optimal model perfomance
> 4. Model building on the training datasets, evaluation on the testing sets using various regression techniques such as: Linear, Ridge, Lasso, and Gradient boost regression
> 5. Evaluation of models using various metrics in regression such as mean_absolute_error, mean_squared_error root_mean_squared_error, r2_score, residual_sum of squares to evaluate model performance
> 6. Performed comparison on the model between the actual values and the predicted values

In [1]:
import pandas as pd
import pickle
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')

In [82]:
df= pd.read_csv(r'Scaled_Lower_Secondary.csv_')

In [83]:
df.head(3)

,Year,Completion Rate for lower secondary Edu,Childhood Education GER,"Gross enrolment ratio, early childhood educational development programmes","Gross intake ratio to the last grade of lower secondary general education,",Literacy rate for 25-64 years old,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Central Asia,Central and Southern Asia,Eastern and South-Eastern Asia,Europe and Northern America,Latin America and the Caribbean,Northern Africa and Western Asia,Oceania,Southern Asia,Sub-Saharan Africa,Gender_numerical
0,2012,99.6,47.379975,5.868056,96.64,68.735,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,2012,99.3,47.379975,5.868056,97.66,68.735,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2013,99.6,47.379975,5.868056,103.13,68.735,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [84]:
df.rename(columns = {'Childhood Education GER':'Childhood_Education_GER', 'Gross enrolment ratio, early childhood educational development programmes':'Gross_enrolment_ratio_early_childhood_educational_development_programmes', 
                    'Gross intake ratio to the last grade of lower secondary general education,':'Gross_intake_ratio_to_the_last_grade_of_lower_secondary_general_education',
                    'Literacy rate for 25-64 years old':'Literacy_rate_for_25_64_years_old', 'Expenditure on education as a percentage of total government expenditure (%)':'Expenditure_on_education_as_a_percentage_of_total_government_expenditure',
                    'Government expenditure on education as a percentage of GDP (%)':'Government_expenditure_on_education_as_a_percentage_of_GDP',
                    'Central Asia':'Central_Asia', 'Central and Southern Asia':'Central_and_Southern_Asia', 'Eastern and South-Eastern Asia':'Eastern_and_South_Eastern_Asia',
                    'Europe and Northern America':'Europe_and_Northern_America', 'Latin America and the Caribbean':'Latin_America_and_the_Caribbean',
                    'Northern Africa and Western Asia':'Northern_Africa_and_Western_Asia', 'Oceania':'Oceania', 'Southern Asia': 'Southern_Asia', 'Sub-Saharan_Africa':'Sub_Saharan_Africa','Gender_numerical':'Gender_numerical'}, inplace = True)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 18 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Year                                                                       1872 non-null   int64
 1   Completion Rate for lower secondary Edu                                    1872 non-null   float64
 2   Childhood_Education_GER                                                    1872 non-null   float64
 3   Gross_enrolment_ratio_early_childhood_educational_development_programmes   1872 non-null   float64
 4   Gross_intake_ratio_to_the_last_grade_of_lower_secondary_general_education  1872 non-null   float64
 5   Literacy_rate_for_25_64_years_old                                          1872 non-null   float64
 6   Expenditure_on_education_as_a_percentage_of_total_government_expenditure   1872 non-null   float64
 7   Government_expenditure_on_education_as_a_percentage_of_GDP                 1872 non-null   float64
 8   Central_Asia                                                               1872 non-null   float64
 9   Central_and_Southern_Asia                                                  1872 non-null   float64
 10  Eastern_and_South_Eastern_Asia                                             1872 non-null   float64
 11  Europe_and_Northern_America                                                1872 non-null   float64
 12  Latin_America_and_the_Caribbean                                            1872 non-null   float64
 13  Northern_Africa_and_Western_Asia                                           1872 non-null   float64
 14  Oceania                                                                    1872 non-null   float64
 15  Southern_Asia                                                              1872 non-null   float64
 16  Sub-Saharan Africa                                                         1872 non-null   float64
 17  Gender_numerical                                                           1872 non-null   int64
dtypes: float64(16), int64(2)
memory usage: 263.4 KB

In [123]:
dff = df.drop(['Gross_intake_ratio_to_the_last_grade_of_lower_secondary_general_education'], axis = 1)

## Data Transformation

#### 1. Data Rescaling

In [86]:
# Data Rescaling

data_col = df['Year']
dff.set_index('Year',inplace =True)

dff.head()

,Completion Rate for lower secondary Edu,Childhood_Education_GER,Gross_enrolment_ratio_early_childhood_educational_development_programmes,Gross_intake_ratio_to_the_last_grade_of_lower_secondary_general_education,Literacy_rate_for_25_64_years_old,Expenditure_on_education_as_a_percentage_of_total_government_expenditure,Government_expenditure_on_education_as_a_percentage_of_GDP,Central_Asia,Central_and_Southern_Asia,Eastern_and_South_Eastern_Asia,Europe_and_Northern_America,Latin_America_and_the_Caribbean,Northern_Africa_and_Western_Asia,Oceania,Southern_Asia,Sub-Saharan Africa,Gender_numerical
Year,,,,,,,,,,,,,,,,,
2012,99.6,47.379975,5.868056,96.64,68.735,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2012,99.3,47.379975,5.868056,97.66,68.735,19.25,3.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2013,99.6,47.379975,5.868056,103.13,68.735,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2013,99.4,47.379975,5.868056,102.95,68.735,17.96,3.44,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2014,99.6,36.650000,0.000000,105.74,68.735,17.32,3.42,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [124]:
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(dff), columns=dff.columns)
normalized_df['Year'] = data_col
normalized_df.set_index('Year', inplace =True)
normalized_df.head(3)

,Completion Rate for lower secondary Edu,Childhood_Education_GER,Gross_enrolment_ratio_early_childhood_educational_development_programmes,Literacy_rate_for_25_64_years_old,Expenditure_on_education_as_a_percentage_of_total_government_expenditure,Government_expenditure_on_education_as_a_percentage_of_GDP,Central_Asia,Central_and_Southern_Asia,Eastern_and_South_Eastern_Asia,Europe_and_Northern_America,Latin_America_and_the_Caribbean,Northern_Africa_and_Western_Asia,Oceania,Southern_Asia,Sub-Saharan Africa,Gender_numerical
Year,,,,,,,,,,,,,,,,
2012,0.995830,0.29137,0.062733,0.657782,0.482729,0.286765,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2012,0.992702,0.29137,0.062733,0.657782,0.482729,0.286765,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013,0.995830,0.29137,0.062733,0.657782,0.446206,0.252941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [125]:
normalized_df.corr().head(3)

,Completion Rate for lower secondary Edu,Childhood_Education_GER,Gross_enrolment_ratio_early_childhood_educational_development_programmes,Literacy_rate_for_25_64_years_old,Expenditure_on_education_as_a_percentage_of_total_government_expenditure,Government_expenditure_on_education_as_a_percentage_of_GDP,Central_Asia,Central_and_Southern_Asia,Eastern_and_South_Eastern_Asia,Europe_and_Northern_America,Latin_America_and_the_Caribbean,Northern_Africa_and_Western_Asia,Oceania,Southern_Asia,Sub-Saharan Africa,Gender_numerical
Completion Rate for lower secondary Edu,1.000000,0.343942,0.32831,0.340289,-0.045622,0.186643,0.201558,0.106305,0.060688,0.390367,0.157616,0.081599,0.087659,-0.014274,-0.657521,0.033615
Childhood_Education_GER,0.343942,1.000000,0.29785,0.118688,-0.179933,-0.016032,-0.064723,0.087554,0.157975,0.185838,0.023716,-0.050977,0.053288,0.149977,-0.346649,0.001953
Gross_enrolment_ratio_early_childhood_educational_development_programmes,0.328310,0.297850,1.00000,0.122610,0.003044,-0.017530,-0.008402,-0.093543,0.091912,0.362503,0.144668,-0.110848,-0.091824,-0.105874,-0.196446,0.000421

In [126]:
# spliting the dataset into training and testing set
x = normalized_df.drop('Completion Rate for lower secondary Edu', axis = 1)
y = normalized_df['Completion Rate for lower secondary Edu']


# making the train set to be 75% of the entire dataset.
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=42)

# test is now 10% of the entire dataset
# validation is now 15% of the entire dataset

## Model Training, Testing and evaluation


 Because the target variable been 'Completion rate for primary school Edu' is a continoues data and not categorical. therfore, the model algorithm to be use is the regression and not classifiers.

#### 1. Linear Regression

In [90]:
def parameters_hypertuning(model, parameters = {}):
  gs = GridSearchCV(model, parameters)
  gs.fit(x_train, y_train)
  hypertuned_parameters = gs.best_params_

  return hypertuned_parameters

In [114]:
#hypertuning of paramters for the linear regression model
parameters_hypertuning(linear_model, {'n_jobs': range(0, 50, 5)})

{'n_jobs': 0}

In [115]:
#hypertuning of paramters for the ridge model

parameters_hypertuning(ridge_model,
 {'alpha': np.arange(1.0, 20.0),
  'max_iter': range(0, 1500, 50)
  })

{'alpha': 1.0, 'max_iter': 50}

In [116]:
#hypertuning of paramters for the lasso model
parameters_hypertuning(lasso_model, {'alpha': np.arange(1.0, 20.0),
  'max_iter': range(0, 1500, 50)})

{'alpha': 1.0, 'max_iter': 50}

In [117]:
#hypertuning of paramters for the Gradient boosting model
parameters_hypertuning(Gbr, {'loss': ['squared_error', 'absolute_error', 'huber', 'quantile'],
                             'learning_rate': np.arange(1.0, 20.0, 2.0),
                             'n_estimators': range(0, 50, 5)})

{'learning_rate': 1.0, 'loss': 'squared_error', 'n_estimators': 30}

In [91]:

import time

# Record start time
start_time = time.time()

# Create a Linear Regression model
linear_model = LinearRegression()

# Fit the model to the training dataset
linear_model.fit(x_train, y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.04 seconds.

In [92]:
# Obtain predictions
predicted_values = linear_model.predict(x_test)

#Getting the Linear model evaluation results
MAE = mean_absolute_error(y_test, predicted_values)
MSE = mean_squared_error(y_test, predicted_values)
RMSE =np.sqrt(mean_squared_error(y_test, predicted_values))
RSS =np.sum(np.square(y_test - predicted_values))
r2=r2_score(y_test, predicted_values)

In [93]:
# Model evaluation

results = pd.DataFrame([['Linear regression', MAE, MSE, RMSE, RSS,r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results

               Model       MAE       MSE      RMSE        RSS  r2_score
0  Linear regression  0.125418  0.025266  0.158952  14.199327  0.705726

In [94]:
lreg_df = pd.DataFrame(data ={"actual_values": y_test * 100, "predictions":predicted_values * 100})
lreg_df

      actual_values  predictions
Year
2016       7.631359    15.380859
2020      58.507089    59.521484
2018      25.562969    50.732422
2016      81.442869    91.259766
2015      98.227690    88.525391
...             ...          ...
2015      36.822352    55.175781
2018      98.748957    99.121094
2012      34.424520    31.054688
2020      37.552127    38.769531
2019      73.123436    85.400391

[562 rows x 2 columns]

## Ridge Regression

In [95]:
# ridge regression
start_time = time.time()

ridge_model = Ridge(alpha = 1.0, max_iter = 50)
ridge_model.fit(x_train, y_train)
# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.03 seconds.

In [96]:
y_preds = ridge_model.predict(x_test)

In [97]:
#Getting the ridge model evaluation results
mae= mean_absolute_error(y_test, y_preds)
mse= mean_squared_error(y_test, y_preds)
rmse=np.sqrt(mean_squared_error(y_test, y_preds))
rss=np.sum(np.square(y_test - y_preds))
r_squared=r2_score(y_test, y_preds)

In [98]:
model_results = pd.DataFrame([['Ridge regression', mae, mse, rmse, rss,r_squared]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)
model_results

              Model       MAE      MSE      RMSE        RSS  r2_score
0  Ridge regression  0.126383  0.02536  0.159249  14.252524  0.704623

In [99]:
ridg_df = pd.DataFrame(data ={"actual_values": y_test * 100, "predictions":predicted_values * 100})
ridg_df

      actual_values  predictions
Year
2016       7.631359    15.380859
2020      58.507089    59.521484
2018      25.562969    50.732422
2016      81.442869    91.259766
2015      98.227690    88.525391
...             ...          ...
2015      36.822352    55.175781
2018      98.748957    99.121094
2012      34.424520    31.054688
2020      37.552127    38.769531
2019      73.123436    85.400391

[562 rows x 2 columns]

#### Lasso regression

In [100]:

# Record start time
start_time = time.time()

lasso_model = Lasso(alpha = 1.0, max_iter = 50)

lasso_model.fit(x_train, y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.02 seconds.

In [101]:
lasso_predictions  = lasso_model.predict(x_test)

In [102]:
print(lasso_predictions.shape, y_test.shape)

(562,) (562,)

In [103]:
# getting the lasso model evaluation results
lasso_r2 = r2_score(y_test, lasso_predictions)
lasso_mse = mean_squared_error( y_test,lasso_predictions)
lasso_rmse = np.sqrt(lasso_mse)
lasso_mae = mean_absolute_error(y_test,lasso_predictions)
lasso_rss = np.sum(np.square(y_test - lasso_predictions))

In [104]:
model_results = pd.DataFrame([['lasso regression', lasso_mae, lasso_mse, lasso_rmse, lasso_rss, lasso_r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [105]:
model_results

              Model      MAE       MSE      RMSE        RSS  r2_score
0  lasso regression  0.25994  0.085926  0.293131  48.290299 -0.000793

In [106]:
lasso_df = pd.DataFrame(data ={"actual_values": y_test * 100, "predictions":lasso_predictions * 100})
lasso_df.sort_index(ascending=True, inplace=True)
lasso_df

      actual_values  predictions
Year
2012      15.867389    64.848649
2012      76.751460    64.848649
2012      98.436197    64.848649
2012      98.957465    64.848649
2012      82.631359    64.848649
...             ...          ...
2021      99.207673    64.848649
2021      99.020017    64.848649
2021      94.109675    64.848649
2021      97.581318    64.848649
2021      85.633862    64.848649

[562 rows x 2 columns]

#### GradientBoostingRegressor

In [127]:
from sklearn.ensemble import GradientBoostingRegressor


# Record start time
start_time = time.time()

Gbr = GradientBoostingRegressor(learning_rate= 1.0, loss= 'squared_error', n_estimators= 25)
Gbr.fit(x_train,y_train)

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time

# Display training time
print("Training took {:.2f} seconds.".format(elapsed_time))

Training took 0.30 seconds.

In [128]:
Gbr_predictions  = Gbr.predict(x_test)

In [129]:
# getting the Gradient boosting model results
Gbr_r2 = r2_score(y_test, Gbr_predictions)
Gbr_mse = mean_squared_error( y_test,Gbr_predictions)
Gbr_rmse = np.sqrt(Gbr_mse)
Gbr_mae = mean_absolute_error(y_test,Gbr_predictions)
Gbr_rss = np.sum(np.square(y_test - Gbr_predictions))

In [130]:
model_results = pd.DataFrame([['GBR regression', Gbr_mae, Gbr_mse, Gbr_rmse, Gbr_rss, Gbr_r2]],
               columns = ['Model', 'MAE', 'MSE', 'RMSE', 'RSS','r2_score'])
results = pd.concat([results, model_results], ignore_index=True)

In [131]:
model_results

            Model       MAE       MSE      RMSE       RSS  r2_score
0  GBR regression  0.096169  0.017762  0.133272  9.981966  0.793129

In [132]:
Gbr_df = pd.DataFrame(data ={"actual_values": y_test * 100, "predictions":lasso_predictions * 100})
Gbr_df.sort_index(ascending=True, inplace=True)
Gbr_df

      actual_values  predictions
Year
2012      15.867389    64.848649
2012      76.751460    64.848649
2012      98.436197    64.848649
2012      98.957465    64.848649
2012      82.631359    64.848649
...             ...          ...
2021      99.207673    64.848649
2021      99.020017    64.848649
2021      94.109675    64.848649
2021      97.581318    64.848649
2021      85.633862    64.848649

[562 rows x 2 columns]

In [133]:
# Printing the stored results of all the three models
results.drop_duplicates().head(4)

               Model       MAE       MSE      RMSE        RSS  r2_score
0  Linear regression  0.125418  0.025266  0.158952  14.199327  0.705726
1   Ridge regression  0.126383  0.025360  0.159249  14.252524  0.704623
2   lasso regression  0.259940  0.085926  0.293131  48.290299 -0.000793
3     GBR regression  0.083844  0.013787  0.117420   7.748509  0.839416

### conclusion
> Based on the results presented above, it is evident that the Ridge regression model exhibits the most favorable performance. This conclusion is drawn from the fact that the model achieves a mean_absolute_error of 0.1263. This value approaching zero signifies a strong indication of optimal performance within the context of regression modeling.

In [134]:
# creating pickle file for deployment
file = open('pickledlower_Gbr.pkl', 'wb')
pickle.dump(Gbr, file)